*env/
input/
*.log
*results/
*.zip
.DS_Store
._.DS_Store
*logs/
*.snakemake/
*.html
*.pdf
leafcutter/
*ds/
*figure/
results*/
*.sif
*ds_ExNeu2/
*cache/
*_files/
*sc-exploratory/
*sc-pseudobulk/
*sc-fisherexact/
*sc-pseudobulk-aggr/
*sc-pseudobulk-raw/
*sc-pseudobulk-aggrcont/
*visium-thalamus-allcells-neurons/
*visium-thalamus-allcells/
*visium-thalamus/
*sc-pseudobulk-v2/
*dapi/
*map2/
*.Rhistory
