python
anndata
scanpy
python-igraph
leidenalg
pysam
r-base
r-tidyverse
r-dt
r-plotly
r-ggplot2
r-reticulate
r-nmf
r-rsvd
r-ggally
r-future
r-upsetr
r-cowplot 
bioconductor-annotationhub
bioconductor-mast
bioconductor-limma
bioconductor-scater
bioconductor-deseq2
bioconductor-rtracklayer
bioconductor-genomicfeatures
bioconductor-txdbmaker
bioconductor-zinbwave
bioconductor-scran
