python
anndata
scanpy
python-igraph
leidenalg
r-base
r-tidyverse
r-dt
r-plotly
r-ggplot2
r-reticulate
r-nmf
r-rsvd
r-ggally
r-future
bioconductor-mast
bioconductor-limma
bioconductor-scater
bioconductor-deseq2
bioconductor-rtracklayer
bioconductor-genomicfeatures
bioconductor-txdbmaker

